input[type=password], input[type=text], input[type=email], textarea {
    margin: 0 auto;
    padding: 5px;
    border-radius: 0.2rem;
    display: inline-block;
    vertical-align: top;
    border-color: #000;
}
textarea {
    border-width: 2px;
    border-style: inset;
}

input[type=submit] {
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
}

label {
    display: flex;
    align-items: center;
}

th {
    text-align: left;
}

td, th{
    padding: 5px;
}
.confirm {
    color: green;
}
.hide{
    display: none;
}

.desc {
    font-style: italic;
    font-size: 14px;
}