input[type=password], input[type=text], input[type=email], textarea {
    margin: 0 auto;
    padding: 5px;
    border-radius: 0.2rem;
    display: inline-block;
    vertical-align: top;
    border-color: #000;
}
textarea {
    border-width: 2px;
    border-style: inset;
}

input[type=submit] {
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
}