@model ContactViewModel

@{
    ViewData["Title"] = "Ältere Kamereren - Kontakt";
    ViewData["Description"] = "Sida för att kontakta Ältere Kamereren";
}

<div class="text-form">

    <div class="text">
        <h1>Kontakta oss</h1>
        <p>
            Om du vill gå med i ÄK kan du fylla i formuläret här intill. Vill du
            uppdatera kontaktuppgifter eller diskutera livets stora frågor,
            når du oss via epostadressen <a href="mailto:aelterekamereren@gmail.com">aelterekamereren@gmail.com</a>.
        </p>
        <p>
            Som medlem i ÄK får du e-post med info om aktiviteter vid väl valda tillfällen,
            framför allt Lundakarnevaler och orkesterjubileum. Vi spelar i karnevalståget
            och ses över en julöl eller en försommarbanjo någon gång emellanåt.
        </p>
        <p>
            ÄKÖK består för närvarande av Ellinor, Pontus och Rebecka.
        </p>
    </div>
    <div class="form">
        <h2>Jag vill gå med i ÄK</h2>
        <form id="joinform" method="POST" action="/Signup">
            <label>Namn: <input type="text" name="name" required /></label>
            <label>Epost: <input type="email" name="email" required /></label>
            <label>Instrument: <input type="text" name="instrument" required /></label>
            <label>Startår i AK: <input type="text" name="startyear" required /></label>
            <input type="submit" value="Skicka">
            <p class="error hide"></p>
            <div class="confirm hide">
                <p>
                    Välkommen till ÄK!
                </p>
                <p>
                    Tut och fanfar, <br />
                    ÄKÖK
                </p>
            </div>
            <p class="desc">
                Kontaktuppgifterna som lämnas i formuläret sparas i ÄK:s medlemslista. Uppgifterna används enbart för att kontakta medlemmar och lämnas inte ut till tredje part. Du kan när som helst höra av dig till <a href="mailto:aelterekamereren@gmail.com">ÄKÖK</a> för att kontrollera, ändra eller radera dina uppgifter.
            </p>
        </form>
    </div>

</div>

@if (User.IsInRole("Styrelse"))
{
    <a href="/Signup" class="download-csv">Ladda ned som csv fil</a>

    <div class="signuplist">
        <table>
            <thead>
                <tr>
                    <th scope="col">Namn</th>
                    <th scope="col">Epost</th>
                    <th scope="col">Instrument</th>
                    <th scope="col">Startår</th>
                    <th scope="col"></th>
                </tr>

            </thead>
            <tbody>
                @foreach (var signup in Model.signups)
                {
                    <tr>
                        <td>@signup.Name</td>
                        <td>@signup.Email</td>
                        <td>@signup.Instrument</td>
                        <td>@signup.StartYear</td>
                        <td><a class="action remove" href="/Signup/@signup.Id">X</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}