@model FilesModel

@{
    ViewData["Title"] = "Ältere Kamereren - Filer";
}

<h1>Noter till lundakarnevalen</h1>

@if (!Model.IsLoggedIn)
{
    <p>Du måste vara inloggad för att kunna ladda ned filer</p>
}
else
{
    <div class="files">
        @foreach (var file in Model.Files)
        {
            <a href="/Files/@file">@file</a>
        }
    </div>
}
