@using AEKWeb.Extensions;
@model FilesViewModel

@{
    ViewData["Title"] = "Ältere Kamereren - Filer";
}

<div class="text-image">

    <div class="image">
        <img src="~/assets/kavaj.jpg" />
    </div>
    <div class="text">
        @if (!Model.IsLoggedIn)
        {
            <p>Du måste vara inloggad för att kunna ladda ned filer</p>
        }
        else
        {
            <h1>Noter till lundakarnevalen</h1>
            <div class="files">
                @foreach (var file in Model.Files)
                {
                    <a href="/File/@(file.Englify())">@file</a>
                }
            </div>
        }
    </div>
</div>
}
