@{
    ViewData["Title"] = "Ältere Kamereren - Startsida";
    ViewData["Description"] = "Hemsida för Ältere Kamereren, Alte Kamererens seniora garde";
}

<div class="text-image">

    <div class="image">
        <img src="~/assets/AK_grundas.jpg" alt="Älte Kamereren grundas" />
        <span class="img-desc">
            Och så mötet när ÄK grundades, i brygghuset i Glemminge Tågarp midsommar
            1983. Närvarande var Staffan Hassby, Pelle Ohlsson, Annika Hassby och
            Anders Fagerström.
        </span>
    </div>
    <div class="text">
        <h1>Ältere Kamereren är Musikalliansen Alte Kamererens seniora garde</h1>
        <p>
            Vi bildades på midsommarafton 1983 kl 15.43, i syfte att bejaka
            den rödsvarta själen och främja vallfärder tillbaka till allas
            vår studentmusikaliska moderkaka.
        </p>
        <p>
            Vad är väl bättre än att besjunga sina forna musikaliska hjältedåd
            i goda vänners lag? Klicka omedelbart <a href="/contact">här</a> och mönstra på ÄK-skutan!
        </p>
        <p>Vill du nå Alte Kamereren i stället så ska du klicka <a href="https://www.altekamereren.org">här</a>.</p>
    </div>

</div>