<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="~/dist/main.css" asp-append-version="true">
    @RenderSection("styles", required: false)
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <img src="~/assets/logo.png" alt="Ältere Kamereren">
    </header>
    @{
        var path = Context.Request.Path.ToString();
    }
    <nav>
        <a href="/" class="link@(path == "/" ? " active" : "")">Start</a>
        <a href="/calendar" class="link@(path == "/calendar" ? " active" : "")">Kalender</a>
        <a href="/files" class="link@(path == "/files" ? " active" : "")">Filer</a>
        <a href="/contact" class="link@(path == "/contact" ? " active" : "")">Kontakt</a>
    </nav>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        Footer
    </footer>
    <script src="~/dist/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
