<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="~/dist/main.css" asp-append-version="true">
    @RenderSection("styles", required: false)
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <div class="container">
            <a href="/"><img src="~/assets/logo.png" alt="Ältere Kamereren"></a>
            <a data-modal="login-modal" class="login">Logga in</a>
        </div>
    </header>
    @{
        var path = Context.Request.Path.ToString();
    }
    <nav>
        <div class="container">
            <a href="/" class="link@(path == "/" ? " active" : "")">Start</a>
            <a href="/calendar" class="link@(path == "/calendar" ? " active" : "")">Kalender</a>
            <a href="/files" class="link@(path == "/files" ? " active" : "")">Filer</a>
            <a href="/contact" class="link@(path == "/contact" ? " active" : "")">Kontakt</a>
        </div>
    </nav>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <div class="modal" id="login-modal">
        <div class="modal-bg modal-exit"></div>
        <div class="modal-container">
            <button class="modal-close modal-exit">X</button>
            <h2>Logga in</h2>
            <form id="login-form">
                <div class="form-group">
                    <label><input type="radio" name="username" value="Medlem" checked /> Medlem</label>
                    <label><input type="radio" name="username" value="Styrelse" /> Styrelse</label>
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Lösenord" />
                    <input type="submit" value="Skicka">
                </div>
            </form>

        </div>
    </div>
    <script src="~/dist/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
